@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 40 20% 97%;
    --foreground: 30 10% 10%;
    --card: 40 20% 95%;
    --card-foreground: 30 10% 10%;
    --popover: 40 20% 97%;
    --popover-foreground: 30 10% 10%;
    --primary: 30 10% 10%;
    --primary-foreground: 40 20% 97%;
    --secondary: 35 15% 92%;
    --secondary-foreground: 30 10% 10%;
    --muted: 35 12% 92%;
    --muted-foreground: 30 5% 45%;
    --accent: 35 15% 90%;
    --accent-foreground: 30 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 10% 82%;
    --input: 30 10% 82%;
    --ring: 30 10% 10%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
