@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 6%;
    --foreground: 210 40% 98%;

    --card: 222 47% 8%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 8%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 6%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 33% 20%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 212 27% 84%;
  }

  body {
    @apply bg-background text-foreground;
  }

  .tt-drag-handle {
  position: absolute;
  left: -28px;
  top: 0px;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  display: grid;
  place-items: center;
  cursor: grab;
  color: rgba(255,255,255,0.5);
  background: rgba(0,0,0,0.0);
}

.tt-drag-handle:hover {
  background: rgba(255,255,255,0.06);
  color: rgba(255,255,255,0.9);
}

.ProseMirror {
  position: relative;
}

/* 드래그 중 커서 */
.tt-drag-handle:active {
  cursor: grabbing;
}

.empty-caption::before {
  content: attr(data-placeholder);
  color: rgba(255,255,255,0.35);
}

}
